@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.max-w-1140 {
    max-width: 1140px;
}

.color-black {
    background: #0C0B0B;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;

}

.bg-color {
    position: absolute;
    background: #F06500;
    /* filter: blur(-100%); */
    opacity: 100%;
}

.bg-img {
    background-image: url(/assets/images/bg-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
    width: 100%;
}




.min-vh-100 {
    min-height: 100%;
}

.nav-top {
    background: #000000BF;
    backdrop-filter: blur(16px);
}

.m-p {
    margin: 0;
    padding: 0;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    text-align: left;
    color: aliceblue;

}

.logo:hover {
    transform: scale(1.2);
}

.color {
    font-weight: 700;
    color: #F06500;

}

.orange {
    color: #F06500;
}

.text-decoration {
    text-decoration: none;
}

.link {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;

}

.link:hover {
    text-decoration: underline;
}

.btn {

    font-weight: 600;
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
    border-radius: 23.5px;
    padding: 7px 23px;
    border: none;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
    color: #FFFFFF;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-38 {
    gap: 38px;
}

.pt-150 {
    padding-top: 150px;
}

.justify-center {
    justify-content: center;
}

.main-heading {
    font-family: Poppins;
    font-size: 96px;
    font-weight: 700;
    line-height: 95.52px;
    text-align: left;
    color: #FFFFFF;
}

.para {

    font-family: Poppins;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    color: #FFFFFF;
}

.btn-2 {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: left;
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
    border-radius: 33px;
    padding: 12px 32px;
    border: none;
    color: #FFFFFF;

}

.btn-2:hover {
    color: blue;
}

.pt-24 {
    padding-top: 24px;
}

.mt-50 {
    margin-top: 50px;
}

.max-w-1320 {
    padding: 5px 5px;
    max-width: 1320px;
    border: 1px solid;
    border-image-source: linear-gradient(95.21deg, rgba(255, 255, 255, 0.2) -0.59%, rgba(255, 255, 255, 0.092) 106.99%);
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%);
}

.max-w-1272 {
    max-width: 1272px;

}

.font-size {
    font-size: 18px;
}

.w-100 {
    width: 100%;
}

.heading {

    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 61.44px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.para-2 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    opacity: 70%;
}

.oppicity {
    opacity: 100%;
    background-color: #1D1D1D;
}


.item-1 {
    padding-left: 20px;
}

.circle {
    width: 71px;
    height: 71px;
    border-radius: 50%;
    background-color: white !important;
    margin: 7px 10px !important;
    cursor: pointer;
}

.box {
    margin-top: 30px;
    margin-bottom: 10px;
    cursor: pointer;
}

.box:hover {
    background-color: rgba(12, 11, 11);
    border-radius: 25px;
}

.circle:hover {
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
    color: white;
}

.btn-head {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: left;
    color: #FFFFFF;
}

.btn-btm {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
    color: gray;
    padding-top: 40px;
}

.hidden {
    right: 0;
    overflow-y: hidden;
    object-fit: contain;
    width: 100%;

}

.buying {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    opacity: 70%;
}

.number {

    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.border {
    border: 1px solid;

    border-image-source: linear-gradient(95.21deg, rgba(255, 255, 255, 0.2) -0.59%, rgba(255, 255, 255, 0.092) 106.99%);
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.1) 0.97%, rgba(255, 255, 255, 0) 103.14%);
    backdrop-filter: blur(32px);
}

.filter {
    backdrop-filter: none;
}

.gap-20 {
    gap: 20px;
}

.gap-50 {
    gap: 50px;
}

.mt-40 {
    margin-top: 40px;
}

.pb-24 {
    padding-bottom: 24px;
}

.green {
    background: #00E396;
    border-radius: 4px;
}

.orang {
    background-color: #F06500;
    border-radius: 4px;
}

.purple {
    background: #8B35E2;
    border-radius: 4px;
}

.skyblue {
    background: #00B2FF;
    ;
    border-radius: 4px;
}

.light-orange {
    background: #FFA800;
    border-radius: 4px;

}

.pink {
    border-radius: 4px;
    background: #FF4560;
}

.width {
    width: 50px;
    height: 50px;
}

.head {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 32.4px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.text-center {
    text-align: center;
}



.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #FFFFFF;
    top: 11px;
    height: 78%;
    left: 50%;
    margin-left: -3px;
}

.content-box {
    padding: 10px 70px;
    position: relative;
    width: 50%;
}

.content-box::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    right: -14px;
    top: 10px;
    border-radius: 50%;
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}



.right::after {
    left: -13px;
}

.phase {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.text-right {
    text-align: right;

}

.text-left {
    text-align: left;
}

@media(max-width:991.98px) {
    .menu-list {
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        /* height: 100%; */
        width: 100%;
        background-color: black;
        transition: all 200ms linear;
    }

    .menu-list ul {
        flex-direction: column;
        padding-left: 10%;

    }


    input:checked~.menu-list {
        right: 0;
        z-index: 1;
    }

    label[for="list"] {
        width: 40px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;
    }


    label[for="list"] span {
        width: 100%;
        height: 5px;
        background-color: white;
        border-radius: 3px;
        transition: all 200ms linear;

    }



    input:checked~.menu-list {
        left: 0;
        z-index: 1;
    }

    input:checked~label[for="list"] span:first-child {
        transform: rotate(30deg);
        transform-origin: left;
    }

    input:checked~label[for="list"] span:last-child {
        transform: rotate(-30deg);
        transform-origin: left;
    }

    input:checked~label[for="list"] span:nth-child(2) {
        transform: rotate(-40px);

        visibility: hidden;
    }
        
         }
    


@media (max-width:767.98px) {
    .main-heading {
        font-size: 80px;
        line-height: 75px;
    }

    .para {
        font-size: 18px;
    }

    .para-2 {
        font-size: 16px;
        padding-left: 5px;
        text-align: center;
    }

    .heading {
        font-size: 40px;
        line-height: 51.44px;
        text-align: center;
    }

    .btn-head {
        font-size: 18px;
        line-height: 25px;
    }

    .hidden {
        margin-top: 50px;
    }
    
}

@media (max-width:575.98px) {
    .main-heading {
        font-size: 68px;
        line-height: 65px;
    }

    .para-2 {
        font-size: 14px;
    }


    .btn-btm {
        font-size: 16px;
        line-height: 24px;
        padding-top: 30px;
    }

    .box {
        margin-bottom: 20px;
    }

    .circle {
        width: 61px;
        height: 61px;
    }
         .timeline::after {
             left: 31px;
         }
    
         .content-box {
             width: 100%;
             padding-left: 70px;
             padding-right: 25px;
         }
    
         .content-box::before {
             left: 60px;
         }
    
         .left::after,
         .right::after {
             left: 15px;
         }
    
         .right {
             left: 0%;
         }
}

@media (max-width:320px) {
    .main-heading {
        font-size: 48px;
        line-height: 55px;
    }

    .btn-2 {
        margin-left: 65px;
        margin-bottom: 20px;

    }

}
